<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>
    <a class="sidebar-nav-item" href="/about/">About
    <a class="sidebar-nav-item" href="/archive/">Archive</a>
    <a class="sidebar-nav-item" href="http://www.chriswage.com/">Photos</a>
  </nav>

  <div class="sidebar-item">
    <div id="search">
      <form role="search" method="get" action="/search/">
        <input id="searchString" name="searchString"type="text">
        <input id="searchButton" name="googleSearchName" type="submit" value="Search">
      </form>
    </div>
  </div>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
